<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="Hotel Lopesan"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelLopesan">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />

        <activity
            android:name="com.example.hotellopesan.MainActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Hotel Lopesan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hotellopesan.MapActivity"
            android:label="@string/view_map"
            android:parentActivityName="com.example.hotellopesan.MainActivity" />
    </application>

</manifest>
